node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false
legacy-peer-deps=true
node-linker=hoisted
public-hoist-pattern[]=*autoprefixer*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*tailwindcss* 